.img-robot{
    height: 100%;
    margin: auto;
    width: 60%;
    display: flex ;
    align-items: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


.wrapper > h2{
  padding-top: 50px;
}

input, textarea{
    border: none;
    background-color: var(--background-color);
    border-radius: 1px;
    color: var(--color-texto);
    
    
}