.img-robot{
    height: 580px;
    margin: auto;
    width: 70%;
    display: flex ;
    align-items: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.robot-grid-item{
    
}

.grid-item-2{
   }