.card-extra-style{
background-color: var(--color-texto);
color: var(--color-secundario);
text-align: center;
border: none !important;
}

.bg-color-amarillo{
   background-color: var(--color-texto);
}

.contenedor-img-perfil{
    display: flex;
    margin: auto;
    width: 100%;
    background-color: var(--color-texto);
    padding: 40px 0 0 0;
}

.img-width{
    display: block;
	width:40%;
	border-radius:  1%;
    margin: auto;
}
.card-title{
    color: var(--color-secundario);
}

.links-redes-sociales{
    display:inline-block;
    width: 50%;
    margin: auto;
   

}



.enlaces  p > a {
   margin: 10px 10px ;
}

.fa-brands{
    color: var(--background-color);
    font-size: 30px;
}

@media(max-width: 1200px){
    .img-width{
        width:80%;
        margin: auto;
    }
};
    


