.card-extra-style {
  background-color: var(--color-texto);
  color: var(--color-secundario);
  border: none !important;
}

.bg-color-amarillo {
  background-color: var(--color-texto);
}

.contenedor-img-perfil {
  display: flex;
  margin: auto;
  width: 100%;
  position: relative;
  rotate: 10deg;
  padding-top: 50px;
}

.img-width {
  display: block;
  width: 50%;
  border-radius: 5px;
  margin: auto;
  box-shadow: -3px 5px 37px -1px rgba(0,0,0,1);
  -webkit-box-shadow: -3px 5px 37px -1px rgba(0,0,0,1);
  -moz-box-shadow: -3px 5px 37px -1px rgba(0,0,0,1);
}
.card-title {
  color: var(--color-secundario);
}

.links-redes-sociales {
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.enlaces p > a {
  margin: 5px 5px;
}

@media (max-width: 1024px) {

  .contenedor-img-perfil {
    margin-bottom: 60px;
    display: flex;
    margin: auto;
    width: 70%;
    position:0;
  }
  .img-width {
    display: block;
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 725px) {
    .img-width {
        width: 100%;
      }
}
