.card-extra-style {
  background-color: var(--color-texto);
  color: var(--color-secundario);
  border: none !important;
}

.bg-color-amarillo {
  background-color: var(--color-texto);
}

.contenedor-img-perfil {
  display: flex;
  margin: auto;
  width: 100%;
  position: relative;
  rotate: 10deg;
}

.img-width {
  display: block;
  width: 50%;
  border-radius: 1%;
  margin: auto;
  box-shadow: -30px 59px 40px -18px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: -30px 59px 40px -18px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -30px 59px 40px -18px rgba(0, 0, 0, 0.61);
}
.card-title {
  color: var(--color-secundario);
}

.links-redes-sociales {
  display: inline-block;
  width: 100%;
  margin: auto;
  text-align: center;
}

.enlaces p > a {
  margin: 5px 5px;
}

@media (max-width: 1024px) {

  .contenedor-img-perfil {
    margin-bottom: 60px;
    display: flex;
    margin: auto;
    width: 70%;
    padding: 10px 0 0 0;
    position:0;
    rotate: 0deg;
  }
  .img-width {
    display: block;
    width: 80%;
    border-radius: 1%;
    margin: auto;
    box-shadow:  #000 0 0 0 0;
  }
}
@media (max-width: 725px) {
    .img-width {
        width: 100%;
      }
 
}
