:root{
    --background-color: #303841;
    --color-secundario: #2E4750;
    --color-texto      : #F6C90E;
    --color-texto-secundario: #eae7e7;
    --bg-color-amarillo: #f6c90e;
}

body{
    background-color:var(--background-color) !important;
    margin: 0;
    padding: 0;
}

section[id]{
    scroll-margin-top: 150px;
}
/* CLASES GENERALES*/

.color-bg-principal{
    background-color: var(--background-color);
}

.background-amarillo{
    background-color: var(--bg-color-amarillo);
}

.color-secundario{
    background-color: var(--color-secundario);
}
.color-dark{
    color: var(--background-color);
}
.texto-secundario{
    color: var(--color-texto-secundario) !important;
}
.fa-adcional{
    font-size: 40px;
    color: var(--background-color);
}
.cheems{
    height: 40px;
    position: fixed;
    z-index: 999;
    bottom: -15px;
    right: -30px;
    
}