:root{
    --background-color: #303841;
    --color-secundario: #2E4750;
    --color-texto      : #F6C90E;
    --color-texto-secundario: #fdfdfd;
    --bg-color-amarillo: #f6c90e;
}

body{
    background-color:var(--background-color) !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CLASES GENERALES*/
.color-secundario{
    background-color: var(--color-secundario);
}
.color-dark{
    color: var(--background-color);
}
.texto-secundario{
    color: var(--color-texto-secundario) !important;
}
.fa-adcional{
    font-size: 40px;
    color: var(--background-color);
}

